
{{ flatpage.content }}
{{ flatpage.content }}
<ul style="list-style-type: disc;">
<li style="text-align: justify;">[EjkinKOT@localhost Limansk]# su</li>
<li style="text-align: justify;">Password:</li>
<li style="text-align: justify;">[root@localhost Limansk]# /home/Limansk/Personal data</li>
<li style="text-align: justify;">Password:</li>
<li style="text-align: justify;">going to the catalog `/home/Limansk/Personal data/`</li>
<li style="text-align: justify;">[root@localhost Limansk]# name</li>
<li style="text-align: justify;">Konstantine done</li>
<li style="text-align: justify;">[root@localhost Limansk]# date_of_birth</li>
<li style="text-align: justify;">12.05.1994 done</li>
<li style="text-align: justify;">[root@localhost Limansk]# slogan</li>
<li style="text-align: justify;">I am the ROCK of inevitability done</li>
<li style="text-align: justify;">[root@localhost Limansk]# _</li>
</ul>
<h2>SKILL FACTORY</h2>
<i><p>Какой-то текст</p></i>
